<div class="left-menu-header">Reports</div>

<ul>
    <li>@Html.ActionLink("Carriage List by Program", "")</li>
    <li>@Html.ActionLink("Carriage List by Station", "CarriageListByStation")</li>
    <li>@Html.ActionLink("Station Notes", "StationNotes")</li>
    <li>@Html.ActionLink("Grid Data", "")</li>
    <li>@Html.ActionLink("Format Calculation", "FormatCalculation")</li>
    <li>@Html.ActionLink("Add/Drop Program", "AddDropProgram")</li>
    <li>@Html.ActionLink("Program Line Up", "ProgramLineUp")</li>
    <li>@Html.ActionLink("Participating Stations", "ParticipatingStation")</li>
    <li>@Html.ActionLink("Program Stations", "ProgramStation")</li>
    <li>@Html.ActionLink("Carriage Workbook", "")</li>
    <li>@Html.ActionLink("Stations Data", "StationData")</li>
    <li>@Html.ActionLink("Repeater Stations", "")</li>
    <li>@Html.ActionLink("Station Users", "StationUsers")</li>
</ul>