@model NPR.CRC.Web.ViewModels.Reports.AddDropProgramViewModel

@{
    ViewBag.Title = "AddDropProgram";
}
<p> 
    <span class="page-header">Add/Drop Program Report</span>
</p>
@using (Html.BeginForm())//"AddDropProgram", "Reports", FormMethod.Post, new { target = "_blank", name = "AddDropProgram", id = "AddDropProgram" }))
{
<div>
    @Inf.ValidationSummary(this)
    <div class="leftColumn" style="width: 70%;">
        <div style="text-align: center; color: red">
            <p>* Indicates a required field</p>
        </div>
        <div>
            <span class="reportFieldLabel">@Html.LabelFor(model=>model.StationType)</span>
            @Html.DropDownListFor(model=>model.StationType, Model.StationTypeList)
        </div>
        <div>
            <span class="reportFieldLabel">@Html.LabelFor(model=>model.StationStatus)</span>
            @Html.DropDownListFor(model=>model.StationStatus, Model.StationStatusList)
        </div>
        <div>
            <span class="reportFieldLabel">@Html.LabelFor(model=>model.RepeaterStatus)</span>
           @Html.DropDownListFor(model=>model.RepeaterStatus,Model.RepeaterStatusList)
        </div>
         <div>
            <span class="reportFieldLabel">@Html.LabelFor(model=>model.ProgramName)</span>
            @Html.DropDownListFor(model=>model.ProgramName,Model.ProgramList)
        </div>
        <div>
            <span class="reportFieldLabel"> @Html.LabelFor(model=>model.SurveySeasonFromMonth)</span>
            @Html.DropDownListFor(model=>model.SurveySeasonFromMonth,Model.FromMonthList)
			@Html.DropDownListFor(model=>model.SurveySeasonFromYear,Model.FromYearList)
        </div>
         <div>
            <span class="reportFieldLabel"> @Html.LabelFor(model=>model.SurveySeasonToMonth)</span>
            @Html.DropDownListFor(model=>model.SurveySeasonToMonth,Model.ToMonthList)
			@Html.DropDownListFor(model=>model.SurveySeasonToYear,Model.ToYearList)			
        </div>
        <div>
            <span class="reportFieldLabel">@Html.LabelFor(model => model.Format)</span>
            @Html.DropDownListFor(model => model.Format, Model.FormatList)
        </div>
        <div>
            <span class="reportFieldLabel"></span>
            <input type="submit" id="generateReport" value="Generate Report" />
        </div>
    </div>
</div>
}

<script type="text/javascript">
    $(document).ready(function () {
        var d = new Date();
        var curretYear = d.getUTCFullYear();
        var curretMonth = d.getUTCMonth() + 1;
        $('#SurveySeasonToYear').val(curretYear);
        $('#SurveySeasonFromYear').val(curretYear);
        if (curretMonth < 4) {
            curretMonth = 'Winter';
        } else if (curretMonth < 7) {
            curretMonth = 'Spring';
        } else if (curretMonth < 8) {
            curretMonth = 'Summer';
        } else {
            curretMonth = 'Fall';
        }
        $('#SurveySeasonFromMonth').val(curretMonth);
        $('#SurveySeasonToMonth').val(curretMonth);
    });
</script>