@model NPR.CRC.Web.ViewModels.Reports.LeadInLeadOutViewModel

@{
    ViewBag.Title = "LeadInLeadOutReport";
}

<p >  
    <h3 class="page-header">
    Lead In / Lead Out Report
    </h3>
</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Inf.ValidationSummary(this)

    <table style="width:1000px">
        <tr>
            <td>
                Lead In / Lead Out 
              @*  @Html.LabelFor(model => model.CarriageType)*@
            </td>
            <td>
                @Html.RadioButtonFor(model => model.type, "Regular", new { id = "Regular" , style = "display:" + "none" + ";" })          
			    @Html.RadioButtonFor(model => model.type, "NPR_Newscasts", new { id = "Newscasts", style = "display:" + "none" + ";" })

        </tr>
 
        <tr>
            <td>
                @Html.LabelFor(model => model.ProgramEnabled)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ProgramEnabled, Model.ProgramEnabledList)
            </td>
@*            <td>
                @Html.LabelFor(model => model.StationEnabled,"",new { style = "display:" + "none" + ";" })
            </td>
            <td>
                @Html.DropDownListFor(model => model.StationEnabled, Model.StationEnabledList,new { style = "display:" + "none" + ";" })
            </td>*@
            <td>
                @Html.LabelFor(model => model.Band)
            </td>
            <td>
                @Html.DropDownListFor(model => model.Band, Model.BandList)
            </td>

        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ProgramID)
            </td>
            <td>
                @Html.DropDownListFor(model => model.ProgramID, Model.ProgramList)
            </td>
            <td>
                @Html.LabelFor(model => model.StationId)
            </td>
            <td>
                @Html.DropDownListFor(model => model.StationId, Model.StationList)
            </td>
       
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MonthsFrom)
            </td>
            <td>
                @Html.DropDownListFor(model => model.MonthsFrom, Model.MonthsFromList)
                @Html.DropDownListFor(model => model.YearsFrom, Model.YearsFromList)
             <td>
                @Html.LabelFor(model => model.MemberStatus)
            </td>
            <td>
                @Html.DropDownListFor(model => model.MemberStatus, Model.MemberStatusList)
            </td>

        </tr>

         <tr>
             <td></td>
            <td>
               <table> 
                    <tr> 
                        <td>
                            @*@Html.DropDownListFor(model => model.Day, Model.DaysList)*@
                            StartTime:
                            @Html.DropDownListFor(model => model.StartTime, Model.StartTimeList)
                        </td>
                    </tr>
                    <tr>
                        <td>
                             End Time:&nbsp; @Html.DropDownListFor(model => model.EndTime, Model.EndTimeList)
                        </td>
                    </tr>
               </table>
            </td>
            


        </tr>
        <tr>
            <td>
               
            </td>
          
            <td>
               
            </td>
            <td>
              
            </td>


        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.MonthsTo,"",new { style = "display:" + "none" + ";" })
            </td>
            <td>
                @Html.DropDownListFor(model => model.MonthsTo, Model.MonthsToList, new { style = "display:" + "none" + ";" })
                @Html.DropDownListFor(model => model.YearsTo, Model.YearsToList, new { style = "display:" + "none" + ";" })
            </td>
            <td>
                @Html.LabelFor(model => model.City,"",new { style = "display:" + "none" + ";" })
            </td>
            <td>
                @Html.DropDownListFor(model => model.City, Model.StationCityList, new { style = "display:" + "none" + ";" })
            </td>
        </tr>

        <tr>
            <td colspan="1">
                @Html.LabelFor(model => model.ReportFormat,"", new { style = "display:" + "none" + ";" })  
            </td>
            <td colspan="1">
                @Html.DropDownListFor(model => model.ReportFormat, Model.ReportFormatList, new { style = "display:" + "none" + ";" })  
            </td>
            <td>
                @Html.LabelFor(model => model.StateId,"",new { style = "display:" + "none" + ";" })
            </td>
            <td>
                @Html.DropDownListFor(model => model.StateId, Model.StationStateList, new { style = "display:" + "none" + ";" })
            </td>
        </tr>
        <tr>
            <td>  </td>

        </tr>
         <tr>
            <td colspan="2">
                <input type="submit" value="Generate Report" class="bmargin" />
            </td>
 
             <td colspan="2"></td>
        </tr>
    </table>
    
}

<style type="text/css">

    .bmargin
    {
        margin-left: 100px;
    }
    #top
    {
        margin-top: 40px;
    }
.label
{
        width: 20%;
        float: left;
        
        
}
   
.content
{
        width: 80%;
        float: left;
        padding: 0 0 20px 0;
}

   

</style>



<script type="text/javascript">

    $(document).ready(function () {

        var band = $('#Band').val();
        var stationEnabled = $('#StationEnabled').val();
        var memberStatus = $('#MemberStatus').val();
        var d = new Date();
        var curretYear = d.getUTCFullYear();
        var curretMonth = d.getUTCMonth() + 1;
        $('#YearsFrom').val(curretYear);
        $('#MonthsFrom').val(curretMonth);
        $('#YearsTo').val(curretYear);
        $('#MonthsTo').val(curretMonth);
        
        setStationList(band, stationEnabled, memberStatus);

        $('input:radio[id=Regular]').change(function () {
            var isReg = $('#ProgramID').val();
            if (isReg == 2072) { $('#ProgramID').val(''); }
        });

        $('input:radio[id=Newscasts]').change(function () {
           
            $('#ProgramID').val(2072);
            $('#ProgramID').trigger("change");
        });

        $('#ProgramID').change(function () {
            var isReg = $(this).val();
            if (isReg == 2072) {
                $('input:radio[id=Newscasts]').prop('checked', true);
            } else {
                $('input:radio[id=Regular]').prop('checked', true);
            }
        });


        
        $('#Band').change(function () {
            
            var band = $('#Band').val();
            var stationEnabled = $('#StationEnabled').val();
            var memberStatus = $('#MemberStatus').val();

            setStationList(band, stationEnabled, memberStatus);
            

        });


        $('#ProgramEnabled').change(function () {
            
            var band = $('#Band').val();

            var stationEnabled = $('#StationEnabled').val();
            var memberStatus = $('#MemberStatus').val();

            var ProgramEnbled = $('#ProgramEnabled').val();
           


            //setStationList(band, stationEnabled, memberStatus);

            //alert(ProgramEnbled);
            setProgramList(ProgramEnbled);

        });



        $('#StationEnabled').change(function () {
          
            var band = $('#Band').val();
            
            var stationEnabled = $('#StationEnabled').val();
            var memberStatus = $('#MemberStatus').val();


            (band, stationEnabled, memberStatus);
            

        });

        $('#MemberStatus').change(function () {
            
            var band = $('#Band').val();
            var stationEnabled = $('#StationEnabled').val();
            var memberStatus = $('#MemberStatus').val();

            setStationList(band, stationEnabled, memberStatus);
           

        });

    });


    function setStationList(band, stationEnabled, memberStatus) {

        $('#StationId').empty();
        var $Station = $("#StationId");
       
        var url = "@Url.Action("ShowStationListLILO")";
        var requestData = {

            Band: band,
            StationEnabled: stationEnabled,
            MemberStatus: memberStatus
        };
        //alert(184);
        $.getJSON(url, requestData, function (responseData) {
            //alert(responseData[0].label);
            //alert(responseData.length)

            $Station.prepend("<option value='' selected='selected'></option>");

           
            var i;
            for (i = 0; i < responseData.length; i++) {
                //text += cars[i] + "<br>";
                $("<option></option")
                    .attr("value", responseData[i].value)
                    .text(responseData[i].label)
                    .appendTo($Station);
            }


            //$.each(responseData, function (responseData) {
                
            //    $("<option></option")
            //        .attr("value", 1)
            //        .text(responseData.label)
            //        .appendTo($Station);
            //});

            $Station.trigger("change");
        });
    }

    function setProgramList(ProgramEnbled) {
        
        $('#ProgramID').empty();
        var $Program = $("#ProgramID");

        var url = "ShowProgramList";
        var requestData = {

            enabled: ProgramEnbled,
           
        };
      
        $.getJSON(url, requestData, function (responseData) {
            
            $.each(responseData, function (ProgramID, ProgramName) {
                //alert(ProgramName);
                $("<option></option")
                    .attr("value", ProgramName)
                    .text(ProgramName)
                    .appendTo($Program);
            });

            $Program.trigger("change");
        });
    }

</script>