@model NPR.CRC.Web.ViewModels.Reports.RepeaterStationViewModel
@{
    ViewBag.Title = "RepeaterStation";
}
<p >  
    <h3 class="page-header">
    Repeater Stations Report
    </h3>
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Inf.ValidationSummary(this)
    <div id="top" style="width: 100%">
        <div class="label">
            @Html.LabelFor(model => model.StationEnabled)
        </div>
        <div class="content">
                @Html.DropDownListFor(model => model.StationEnabled, Model.StationEnabledList)
        </div>
        <div class="label">
            @Html.LabelFor(model => model.Band)
        </div>
        <div class="content">
            @Html.DropDownListFor(model => model.Band, Model.BandList)
        </div>
        <div class="label">
            @Html.LabelFor(model => model.ReportFormat)
        </div>
        <div class="content">
            @Html.DropDownListFor(model => model.ReportFormat, Model.ReportFormatList)
        </div>
        <div>
            <input type="submit" value="Generate Report" class="bmargin" />
        </div>
    </div>
}

<style type="text/css">
.bmargin
{
    margin-left: 100px;
}
    #top
{
    margin-top: 40px;
}
.label
{
    width: 12%;
    float: left;
}
   
.content
{
    width: 80%;
    float: left;
    padding: 0 0 20px 0;
}
</style>


