<div class="left-menu-header">Program Administration</div>

<ul>
    <li>@Html.ActionLink("Search by Program", "SearchByProgram")</li>
    <li>@Html.ActionLink("Search by Producer/Contact", "")</li>
    <li>@Html.ActionLink("Program Format Types", "ProgramFormat")</li>
    <li>@Html.ActionLink("Major Formats", "MajorFormats")</li>
    <li>@Html.ActionLink("Program Sources", "ProgramSources")</li>
    <li>@Html.ActionLink("Producers/Contacts", "ProducerContact")</li>
    <li>@Html.ActionLink("Carriage Types", "CarriageType")</li>
</ul>