@model NPR.CRC.Web.ViewModels.ProgramAdmin.AddEditProgramFormatViewModel

@using (Ajax.BeginForm(new AjaxOptions()))
{
    @Html.AntiForgeryToken()
    @Inf.ValidationSummary(this)     

    <table>
        <tr>
            <td>@Html.LabelFor(model => model.ProgramFormatTypeName): </td>
            <td>@Html.EditorFor(model => model.ProgramFormatTypeName)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.ProgramFormatTypeCode): </td>
            <td>@Html.EditorFor(model => model.ProgramFormatTypeCode)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(model => model.MajorFormatId)</td>
            <td>@Html.DropDownListFor(model => model.MajorFormatId, Model.MajorFormatList)</td>

            
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.EditorFor(model => model.EnabledInd)
                @Html.LabelFor(model => model.EnabledInd)
            </td>
        </tr>
    </table>
    
    <div class="inf-dialogbuttons">
        <input type="submit" value="Save" />
        <input type="button" value="Cancel" class="inf-dialogcancel" />
    </div>
}
