@model NPR.CRC.Web.ViewModels.ProgramAdmin.AddEditMajorFormatViewModel

@using (Ajax.BeginForm(new AjaxOptions()))
{
    @Html.AntiForgeryToken()
    @Inf.ValidationSummary(this)

    <table>
        <tr>
            <td>@Html.LabelFor(model => model.MajorFormatName): </td>
            <td>@Html.EditorFor(model => model.MajorFormatName)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.MajorFormatCode): </td>
            <td>@Html.EditorFor(model => model.MajorFormatCode)</td>
        </tr>

        <tr>
            <td></td>
            <td>
                @Html.EditorFor(model => model.EnabledInd)
                @Html.LabelFor(model => model.EnabledInd)
            </td>
        </tr>
    </table>
    
    <div class="inf-dialogbuttons">
        <input type="submit" value="Save" />
        <input type="button" value="Cancel" class="inf-dialogcancel" />
    </div>
}
