<div class="left-menu-header">Station Administration</div>

<ul>
    <li>@Html.ActionLink("Search Stations", "Index")</li>
    <li>@Html.ActionLink("Search Station Notes", "StationNotes", "Reports")</li>
    <li>@Html.ActionLink("Affiliates", "Affiliates")</li>
    <li>@Html.ActionLink("Licensee Type", "LicenseeType")</li>
    <li>@Html.ActionLink("Member Status", "MemberStatus")</li>
    <li>@Html.ActionLink("Minority Status", "MinorityStatus")</li>
    <li>@Html.ActionLink("Bands", "Bands")</li>
    <li>@Html.ActionLink("DMA/Metro", "DMAMetro")</li>
</ul>