@model NPR.CRC.Web.ViewModels.Home.ForgotPasswordViewModel

<p style="text-align: center;">Please enter your email address to initiate a password reset request:</p>

@using (Html.BeginForm())
{
    @Inf.ValidationSummary(this)
    
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <td>@Html.LabelFor(model => model.Email):</td>
            <td>@Html.TextBoxFor(model => model.Email)</td>
        </tr>

        <tr>
            <td></td>
            <td style="padding-top: 10px;">
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>
}

@if (Model.Status.HasValue)
{
    if (Model.Status.Value)
    {
    <script>
        inf.messageBox("An email has been sent to @Model.Email containing further instructions.", "Forgot Password", "Ok", function () {
            window.location = "@Url.Action("SignIn")";
        });
    </script>
    }
    else
    {
    <script>
        inf.messageBox("@Model.Email is not associated with any active CRC user. Please verify the accuracy of your input, or contact the CRC manager for further assistance.", "Forgot Password", "Ok");
    </script>
    }
}

<p style="text-align: center;">
    @Html.ActionLink("Return to Sign-In", "SignIn")
</p>
