@model NPR.CRC.Web.ViewModels.Home.ResetPasswordViewModel

@if (Model.Status == NPR.CRC.Web.ViewModels.Home.ResetPasswordStatus.NoTokenProvided)
{
    <p style="text-align: center;">No token provided.</p>
    
    <p style="text-align: center;">Please @Html.ActionLink("try again", "ForgotPassword") or @Html.ActionLink("contact the CRC Manager", "ContactCRCManager") for further assistance.</p>
}
else if (Model.Status == NPR.CRC.Web.ViewModels.Home.ResetPasswordStatus.TokenInvalid)
{
    <p style="text-align: center;">The provided token is invalid or expired.</p>
    
    <p style="text-align: center;">Please @Html.ActionLink("try again", "ForgotPassword") or @Html.ActionLink("contact the CRC Manager", "ContactCRCManager") for further assistance.</p>
}
else
{
    <p style="text-align: center;">Please enter a new password:</p>
    
    using (Html.BeginForm())
    {
    @Inf.ValidationSummary(this)
    @Html.HiddenFor(model => model.Token)
    @Html.HiddenFor(model => model.Email)
    
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <td>@Html.LabelFor(model => model.Email):</td>
            <td>@Model.Email</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.NewPassword):</td>
            <td>@Html.PasswordFor(model => model.NewPassword)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.ConfirmNewPassword):</td>
            <td>@Html.PasswordFor(model => model.ConfirmNewPassword)</td>
        </tr>

        <tr>
            <td></td>
            <td style="padding-top: 10px;">
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>
    }

    if (Model.Status == NPR.CRC.Web.ViewModels.Home.ResetPasswordStatus.PasswordChanged)
    {
    <script>
        inf.messageBox("Your password has been changed. Please rememeber to login with your new password from now on.", "Reset Password", "Ok", function () {
            window.location = "@Url.Action("SignIn")";
        });
    </script>
    }
}
